<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

        <!--MyBatis的核心配置文件-->
<configuration>

        <typeAliases>
            <package name="com.qs.pojo" />
        </typeAliases>
        <mappers>
                            <!--SQL映射文件的路径-->
            <mapper resource="com/qs/dao/BookMapper.xml"></mapper>
        </mappers>

</configuration>